<!DOCTYPE html>
<html>

<head>
    <title>上饶农商四扫系统</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!-- common header -->
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="javascript:window.history.back();" class="">
                <i class="am-header-icon am-icon-angle-left am-icon-sm"></i>
          	</a>
        </div>
        <h1 class="am-header-title">
          	<a href="#" class="">个人用户</a>
      	</h1>
    </header>
    <!-- end header -->
    <!-- start contain -->
    <section class="xb-section am-vertical-align">
        <h1 class="am-vertical-align-middle" style="width: 100%;text-align: center;font-size: 20px;"><%= service.msg %></h1>
    </section>
    <!-- end contain -->
    <!-- common footer -->
    <footer class="xb-bottom am-g">
        <div class="xb-tab am-u-sm-4">
            <a href="/task/person" id="btn">
                <span class="xb-tab-icon"><i class="am-icon-user-plus am-icon-sm am-icon-fw"></i></span>
                <span class="xb-tab-span">个人录入</span>
            </a>
        </div>
        <div class="xb-tab am-u-sm-4">
            <a href="/" id="btn">
                <span class="xb-tab-icon"><i class="am-icon-dashboard am-icon-sm am-icon-fw"></i></span>
                <span class="xb-tab-span">返回首页</span>
            </a>
        </div>
        <div class="xb-tab am-u-sm-4">
            <a href="/task/shop" id="btn">
                <span class="xb-tab-icon"><i class="am-icon-ship am-icon-sm am-icon-fw"></i></span>
                <span class="xb-tab-span">商户录入</span>
            </a>
        </div>
    </footer>
    <!-- end footer -->
</body>

</html>