<!DOCTYPE html>
<html>

<head>
    <title>上饶农商四扫系统</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js" async></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!-- common header -->
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="javascript:window.history.back();" class="">
                <i class="am-header-icon am-icon-angle-left am-icon-sm"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#" class="">考核详情</a>
        </h1>
    </header>
    <!-- end header -->
    <!-- start contain -->
    <style>
    .xb-section {
        height: calc(100% - 177px);
    }
    </style>
    <section class="xb-section">
        <h2 class="am-text-center">程序员小哥哥正在马不停蹄的加班中...</h2>
    </section>
    <!-- end contain -->
    <!-- common footer -->
    <footer class="xb-logo">
        <div class="am-g">
            <div class="am-u-sm-6 am-u-sm-offset-3">
                <img src="/images/logo.jpg" alt="">
            </div>
        </div>
    </footer>
    <!-- end footer -->
</body>

</html>