<!DOCTYPE html>
<html>

<head>
    <title>上饶农商四扫系统</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js" async></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
    $.ajax({
        url: "/weixin",
        type: 'post',
        dataType: 'json',
        data: { 'url': encodeURI(location.origin + location.pathname) },
        success: function(res) {
            console.log(res);
            // var data = JSON.parse(res);
            wx.config({
                debug: false,
                appId: res.appid,
                timestamp: res.timestamp,
                nonceStr: res.noncestr,
                signature: res.signature,
                jsApiList: ['getLocation']
            });
        },
        error: function(err) {
            console.log(err)
        }
    });

    wx.ready(function() {
        wx.getLocation({
            debug: false,
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function(res) {
                var area = document.querySelector('#area');
                area.value = JSON.stringify(res);
                var submit = document.querySelector('#submit');
                submit.click();
            }
        });
    })
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <button type="button" style="display: none;" id="loadingBtn" data-am-modal="{target: '#my-modal-loading'}">
        Modal Loading
    </button>
    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">正在载入...</div>
            <div class="am-modal-bd">
                <span class="am-icon-spinner am-icon-spin"></span>
            </div>
        </div>
    </div>
    <script>
    window.onload = function() {
        var load = document.querySelector('#loadingBtn');
        load.click();
    }
    </script>
    <!-- start contain -->
    <style>
    .xb-section {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.02);
    }
    </style>
    <section class="xb-section">
        <form action="<%= data %>" id="form" method="POST" style="display: none;">
            <input type="hidden" id="area" name="area" value="">
            <input type="submit" id="submit">
        </form>
    </section>
    <!-- end contain -->
</body>

</html>