<!DOCTYPE html>
<html>

<head>
    <title>上饶农商四扫系统</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js" async></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!-- common header -->
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="javascript:window.history.go(-2);" class="">
                <i class="am-header-icon am-icon-angle-left am-icon-sm"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#" class="">周边商户</a>
        </h1>
    </header>
    <!-- end header -->
    <!-- start contain -->
    <style>
    .xb-section {
        height: calc(100% - 103px);
        background-color: rgba(0, 0, 0, 0.02);
    }
    </style>
    <section class="xb-section">
        <div class="am-g xb-search">
            <div class="am-u-sm-12">
                <form method="post" action="/custom/shop/search" class="">
                    <div class="am-input-group">
                        <input type="text" class="am-form-field" id="queryCustom" name="queryCustom" placeholder="输入你想查询商铺的名称" maxlength="4">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-green" type="submit" id="btnSearch"><span class="am-icon-search"></span> </button>
                        </span>
                    </div>
                </form>
                <script type="text/javascript">
                
                </script>
            </div>
        </div>
        <div class="am-g xb-custom">
            <div class="custom-list">
                <% for(var i=0; i<data.length; i++){ %>
                    <a href="/task/shop/update/<%= data[i].shopId %>">
                        <div class="am-u-sm-12 custom-list-item">
                            <div class="am-u-sm-12 custom-item-group">
                                <span>商铺：</span>
                                <span><%= data[i].name %></span>
                            </div>
                            <div class="am-u-sm-12 custom-item-group">
                                <span>已有金融服务：</span>
                                <span><%= data[i].exsit_service %></span>
                            </div>
                            <div class="am-u-sm-12 custom-item-group">
                                <span>详细地址：</span>
                                <span><%= data[i].address %></span>
                            </div>
                        </div>
                    </a>
                    <% } %>
            </div>
        </div>
    </section>
    <!-- end contain -->
    <!-- common footer -->
    <footer class="xb-logo">
        <div class="am-g">
            <div class="am-u-sm-6 am-u-sm-offset-3">
                <img src="/images/logo.jpg" alt="">
            </div>
        </div>
    </footer>
    <!-- end footer -->
</body>

</html>